name: Build bootc image

permissions:
  contents: read
  packages: write

on:
  schedule:
    - cron: "0 0 * * 6"
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
      - './.github/*'

jobs:
  build:
    name: Build bootc image
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ${{ github.event.repository.name }}
      REGISTRY: ghcr.io/${{ github.repository_owner }}
    
    steps:
      - name: Clone the repository
        uses: actions/checkout@v4
        
      - name: Install qemu-user-static, needed for arm64 builds
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static
        
      - name: Install latest podman
        run: |
          sudo apt-get -y install podman
          podman --version
        
      - name: Build image with podman
        run: |
          podman build -t ${{ env.IMAGE_NAME }}:latest \
            -t ${{ env.IMAGE_NAME }}:${{ github.sha }} \
            -f ./Containerfile .
        
      - name: Login to GitHub Container Registry
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | podman login ghcr.io -u ${{ github.actor }} --password-stdin
        
      - name: Tag images for registry
        run: |
          podman tag ${{ env.IMAGE_NAME }}:latest ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          podman tag ${{ env.IMAGE_NAME }}:${{ github.sha }} ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
        
      - name: Push images to registry
        run: |
          podman push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          podman push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}